<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-sm mx-auto">
      <div class="text-center">
        <img
          class="w-auto h-12 mx-auto"
          src="../../../assets/images/logo.png"
          alt=""
        />
        <h1 class="mt-12 text-3xl font-bold text-gray-900">
          Criar conta gratuita
        </h1>
      </div>

      <div class="mt-12">
        <button
          type="button"
          class="inline-flex items-center justify-center w-full px-6 py-3 text-sm font-semibold leading-5 text-gray-600 transition-all duration-200 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 hover:bg-gray-50 hover:text-gray-900"
        >
          <img
            class="w-5 h-5 mr-2"
            src="https://landingfoliocom.imgix.net/store/collection/clarity-dashboard/images/previews/sign-in/1/google-logo.svg"
            alt=""
          />
          Cadastre-se com Google
        </button>
      </div>

      <div class="relative mt-6">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-200"></div>
        </div>

        <div class="relative flex justify-center">
          <span class="px-2 text-sm text-gray-400 bg-white"> ou </span>
        </div>
      </div>

      <form action="#" method="POST" class="mt-4">
        <div class="space-y-4">
          <div>
            <label for="" class="text-sm font-bold text-gray-900">
              Email
            </label>
            <div class="mt-2">
              <input
                type="email"
                name=""
                id=""
                placeholder="Email "
                value=""
                class="border block w-full px-4 py-3 placeholder-gray-500 border-gray-300 rounded-lg focus:ring-emerald-600 focus:border-emerald-600 sm:text-sm caret-emerald-600"
              />
            </div>
          </div>

          <div>
            <label for="" class="text-sm font-bold text-gray-900">
              Nome completo
            </label>
            <div class="mt-2">
              <input
                type="text"
                name=""
                id=""
                placeholder="Nome completo"
                value=""
                class="border block w-full px-4 py-3 placeholder-gray-500 border-gray-300 rounded-lg focus:ring-emerald-600 focus:border-emerald-600 sm:text-sm caret-emerald-600"
              />
            </div>
          </div>

          <div>
            <label for="" class="text-sm font-bold text-gray-900">
              Senha
            </label>
            <div class="mt-2">
              <input
                type="password"
                name=""
                id=""
                placeholder="Password (min. 8 caracter)"
                value=""
                class="border block w-full px-4 py-3 placeholder-gray-500 border-gray-300 rounded-lg focus:ring-emerald-600 focus:border-emerald-600 sm:text-sm caret-emerald-600"
              />
            </div>
          </div>

          <div class="relative flex items-center">
            <div class="flex items-center h-5">
              <input
                type="checkbox"
                name="remember-password"
                id="remember-password"
                class="w-4 h-4 text-emerald-600 border-gray-300 rounded focus:ring-emerald-600"
              />
            </div>

            <div class="ml-3">
              <label
                for="remember-password"
                class="text-sm font-medium text-gray-900"
              >
                Eu concordo com o
                <a href="#" title="" class="text-emerald-600 hover:underline"
                  >Termos e Condições</a
                >
              </label>
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="inline-flex items-center justify-center w-full px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 bg-emerald-600 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-600 hover:bg-emerald-500"
            >
              Inscrever-se
            </button>
          </div>
        </div>
      </form>

      <div class="mt-6 text-center">
        <p class="text-sm font-medium text-gray-900">
          Já tem uma conta?
          <a href="/login" title="" class="font-bold hover:underline">
            Entrar agora</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
