<app-header></app-header>
<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-6xl mx-auto">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          Escolha a forma de pagamento
        </h1>
      </div>

      <div
        class="grid grid-cols-1 mt-8 lg:grid-cols-5 lg:items-start xl:grid-cols-6 gap-y-10 lg:gap-x-12 xl:gap-x-16">
        <div class="lg:sticky lg:order-2 lg:top-6 lg:col-span-2">
          <div class="overflow-hidden rounded bg-gray-50">
            <div class="px-4 py-6 sm:p-6 lg:p-8">
              <h3 class="text-xl font-bold text-gray-900">
                Detalhes do Participante
              </h3>

              <div class="mt-6">
                <p class="text-sm font-bold mb-2 text-gray-900">
                  Aline Marinho
                </p>
                <p class="mt-1 text-sm font-medium text-gray-600">
                  CPF: <b>421.246.258-37</b>
                </p>
                <p class="mt-1 text-sm font-medium text-gray-600">
                  Nascimento: <b>24/12/1992</b>
                </p>
                <p class="mt-1 text-sm font-medium text-gray-600">
                  Sexo: <b>FEMININO</b>
                </p>
                <p class="mt-4 text-sm font-medium text-gray-600">
                  Inscrição: NIGTH RUN - CAMISETA M
                </p>
                <p class="mt-1 text-sm font-medium text-gray-600">
                  Valor da Inscrição: R$ 95,00
                </p>
              </div>

              <div class="mt-6">
                <label for="discount" class="text-sm font-medium text-gray-600">
                  Cupom de Desconto
                </label>
                <div class="mt-2 flex">
                  <input
                    type="text"
                    id="discount"
                    name="discount"
                    placeholder="Digite seu cupom"
                    class="flex-1 px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-l-md focus:outline-none focus:border-lime-500 caret-lime-500" />
                  <button
                    type="button"
                    class="px-4 py-3 font-bold text-white transition-all duration-200 bg-lime-500 border border-transparent rounded-r-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500 hover:bg-lime-500">
                    Aplicar
                  </button>
                </div>
              </div>

              <hr class="mt-6 border-gray-200" />
              <div class="flow-root mt-5">
                <div class="flex items-center justify-between py-5">
                  <p class="text-sm font-bold text-gray-900">Total</p>
                  <p class="text-sm font-bold text-right text-gray-900">
                    R$ 95,00
                  </p>
                </div>
              </div>

              <div class="mt-6">
                <button
                  type="button"
                  class="inline-flex items-center justify-center w-full px-6 py-4 text-sm font-bold text-white transition-all duration-200 bg-lime-500 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:bg-gray-700">
                  Confirmar pagamento
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="pt-6 border-t border-gray-200 lg:order-1 lg:col-span-3 xl:col-span-4">
          <div class="flow-root">
            <div class="divide-y divide-gray-200 -my-7">
              <div class="py-7">
                <div class="mt-6 space-y-4">
                  <div class="bg-white border-2 border-gray-900 rounded-md">
                    <div class="px-4 py-5 sm:p-6">
                      <div class="flex items-center">
                        <div>
                          <span class="hidden">
                            <svg
                              class="w-6 h-6 text-gray-300"
                              viewBox="0 0 22 22"
                              fill="none"
                              stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle
                                cx="11"
                                cy="11"
                                r="10.25"
                                stroke-width="1.5" />
                            </svg>
                          </span>

                          <span>
                            <svg
                              class="w-6 h-6"
                              viewBox="0 0 22 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle cx="11" cy="11" r="11" fill="#18181B" />
                              <path
                                d="M6.91699 11.5833L9.25033 13.9166L15.0837 8.08331"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </div>

                        <div class="ml-4">
                          <p class="text-base font-bold text-gray-900">
                            Cartão de crédito
                          </p>
                          <p class="mt-1 text-sm font-medium text-gray-500">
                            Visa, Mastercard, American Amex
                          </p>
                        </div>
                      </div>

                      <div
                        class="grid grid-cols-2 mt-5 sm:grid-cols-4 gap-x-6 gap-y-5">
                        <div class="col-span-2 sm:col-span-4">
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Número do cartão
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="XXXX XXXX XXXX XXXX"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div class="col-span-2">
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Nome no cartão
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="ex: John Doe"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div>
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Data de validade
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="MM/YYYY"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div>
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            CVV
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="XXX"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bg-white border-2 border-gray-200 rounded-md">
                    <div class="px-4 py-5 sm:p-6">
                      <div class="flex items-center">
                        <div>
                          <span>
                            <svg
                              class="w-6 h-6 text-gray-300"
                              viewBox="0 0 22 22"
                              fill="none"
                              stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle
                                cx="11"
                                cy="11"
                                r="10.25"
                                stroke-width="1.5" />
                            </svg>
                          </span>

                          <span class="hidden">
                            <svg
                              class="w-6 h-6"
                              viewBox="0 0 22 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle cx="11" cy="11" r="11" fill="#18181B" />
                              <path
                                d="M6.91699 11.5833L9.25033 13.9166L15.0837 8.08331"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </div>

                        <div class="ml-4">
                          <p class="text-base font-bold text-gray-900">
                            Pagamento Via Pix
                          </p>
                          <p class="mt-1 text-sm font-medium text-gray-500">
                            Pague por Pix e tenha aprovação em instantes.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
